
@import "variable";

html {
  background-color: #333333;
  color: white;
  
}

body {
  max-width: 1440px;
  max-height: 2000px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: #181719;
}

main, header {
  margin-inline-end: $margin-inline-end;
  margin-inline-start: $margin-inline-start;
}

footer {
  padding: calc(#{$padding} * 3);
}