@font-face {
  font-family: Montserrat;
  src: url("/webroot/fonts/Montserrat-Regular.woff"),
       url("/webroot/fonts/AnyConv.com__Montserrat-Regular.woff2");


}


@font-face {
  font-family: Montserrat;
  src: url("/webroot/fonts/Montserrat-Bold.woff"),
       url("/webroot/fonts/AnyConv.com__Montserrat-Bold.woff2");


}

@font-face {
  font-family: Lora;
  src: url("/webroot/fonts/Lora-Regular.woff"),
       url("/webroot/fonts/AnyConv.com__Lora-Regular.woff2");
       

}

@font-face {
  font-family: Lora;
  src: url("/webroot/fonts/Lora-Bold.woff"),
       url("/webroot/fonts/AnyConv.com__Lora-Bold.woff2");
       

}


@font-face {
  font-family: CrimsonPro;
  src: url("/webroot/fonts/AnyConv.com__CrimsonPro-Regular.woff2"),
       url("/webroot/fonts/CrimsonPro-Regular.woff");
       

}
