.interiority__footer {
  font-family: Montserrat;
  font-Weight: 600;
  font-Size: 14px;
  line-height: 17.07px;
  padding-top: 10rem;
  
  
}

.interiority__footer__container {
  border-top: 1px white solid;
}

@media (min-width: 1000px) {

  .interiority__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
 
  .interiority__footer__container {
    grid-column: 2;
  }

}