
.interiority__main {
  position: relative;


  &__title {
    font-family: Lora;
    line-height: 61.44px;
    font-size: 48px;
    font-weight: 400;
   
  }

  &__paragraph {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 17.07px;
   
  }

  &__link--read {
    color: white;
    font-family:Montserrat;
    text-decoration: none;
    font-weight: 600;
    line-height: 21.94px;

  }

  &__image {
    width: 100%;
    height: 100%;
    padding-top: calc(#{$padding-top} * 2);

  }

  &__paragraph {
    max-width: 250px;
    max-height: 80px;
  }

  &__article--profile {
    border-radius: 50%;
    float: left;
    width: 20%;
    height: 20%;
    margin-top: 5px;
    margin-right: $margin-right;
    margin-left: $margin-left;

  }

  &__article--name {
    color: #ffff;
    font-family: Montserrat ;
    font-weight: 500;
    line-height: 17.07px;
    margin-top: 20px;
    margin-block-end: 0;
    margin-block-start: $margin-block-start; 
    padding-top: calc(#{$padding-top} * 1.5);  
  
  }

  &__article {
    position: absolute;
    right: 5%;
    bottom: -8%;
    left: 20%;
    background-color:  #181719;
    width: 77%;
    height: 30%;
    
  }

  &__article--job {

    font-family: Montserrat;
    font-Weight : 500;
    font-size: 12px;
    line-height: 14.63px;
    color: Gray;

  } 


  &__article--date {
    font-family: Lora;
    font-Weight: 700;
    font-Size: 24px;
    line-height: 30.72px;
    bottom: 0;
    position: absolute;
    max-width: 210px;
    max-height: 48px;
    margin: $margin;

  }

}


@media (min-width: 1000px) {
  .interiority__main {
    columns: 2;
    
  }

  .interiority__main__article {
    right: -5%;
    bottom: -8%;
    left: 66%;
    width: 30%;
  }

  .interiority__main__article--date {
    margin-block-start: $margin-block-start;
    margin: 0;
    margin-inline-start: $margin-block-end;
    margin-top: $margin-top;
  }


}